<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include layout/header-links %>
  </head>
  <body>
      <% include layout/top-menu %>
      <% include movie/profile %>
  </body>
</html>