<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include layout/header-links %>
  </head>
  <body>
    <h1 class="title index"><%= title %></h1>
    <div class="indexMenu">
      <p><a href="/genres">View by Genre</a></p>
      <p><a href="/years">View by Year</a></p>
    </div>
  </body>
</html>