<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include layout/header-links %>
  </head>
  <body>
    <% include layout/top-menu %>
    <% include layout/genres-pagination %>
    <% include movie/list-view %>
    <% include layout/genres-pagination %>
  </body>
</html>