<div class="pagination">
    <% if(typeof pageNumber !== undefined) { %>
      <% if(pageNumber > 1) { %>
        <a href="/genres/<%= genre %>/page/<%= pageNumber - 1 %>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <% } %>
      <% if(pageNumber < totalPageCount) { %>
        <a href="/genres/<%= genre %>/page/<%= pageNumber + 1 %>"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      <% } %>
    <% } %>
  </div>