<div class="topMenu">
    <h1 class="title"><%= title %></h1>
    <a href="/"><i class="menuLink fa fa-home" aria-hidden="true"></i></a>
    <a href="/years" class="menuLink">Show by year</a>
    <a href="/genres" class="menuLink">Show by genre</a>
</div>